.event-content table th,
.event-content table td {
  border: 0 !important;
  border-bottom: 1px solid black !important;
}

.event-content h1 {
  text-align: center;
  font-family: 'StencilCreek-50';
}