.frame {
  position: relative;
  background: black;
}

.frame img {
  opacity: 0.6 !important;
}

.frame:hover img {
  opacity: 0.3 !important;
}

.frame > div {
  display: block;
}

.frame .frame-content .info {
  position: absolute;
  bottom: 0;
  margin: 0;
  padding: 0 20px 20px;
}

.frame:hover .frame-content .info {
  background-image: url(/images/arrow_blue_south_east.png);
  background-position: bottom 20px right 20px;
  background-repeat: no-repeat;
  background-size: 22px;
}

.frame .frame-content h2 {
  font-family: "StencilCreek-50";
  font-weight: 100;
  font-size: 40px;
  font-style: normal;
  line-height: 35px;
  color: #fff;
  text-transform: uppercase;
}
.frame:hover .frame-content h2 {
  color: #28b9eb;
}

.frame .frame-content p {
  display: none;
  color: #fff;
  font-size: 14px;
  padding-bottom: 40px;
}

.frame:hover .frame-content p {
  display: block;
}

@media screen and (max-width: 1200px) {
  .frame .frame-content h2 {
    font-size: 35px;
    line-height: 30px;
  }
}

@media screen and (max-width: 680px) {
  .frame .frame-content h2 {
    font-size: 25px;
    line-height: 25px;
  }
}
