.card {
  background-color: white;
}

.card img {
  width: 100%;
  background-color: white;
  display: block;
}

.card h3 {
  font-family: "StencilCreek-50";
  font-size: 38px;
  font-weight: 200;
  font-style: normal;
  text-transform: uppercase;
}

.card .content {
  margin: 0 2em;
  padding: 1em 0;
}

.card .content p {
  padding: 0.5em 0;
}

.card a {
  color: #F3745E !important;
  text-decoration: underline;
}
